*{
    margin:0;
    padding:0;
    overflow-x: hidden;
    font-family: sans-serif;
}
.main-color{
    color: #FF305B !important;
}
.gray-bg{
    background-color: #E2E2E2;
}

.threelines {
    margin-bottom: 40px;
}
.threelines div {
    display: block;
    height: 1px;
    background-color: #FF305B;
    margin: auto;
}
.short-line {
    width: 70px;
}
.long-line {
    width: 160px;
    margin-top: 5px !important;
    margin-bottom: 4px !important;
}


#navbar{
    background-color: #212529;
    padding: 12px;
}
.navbar-nav ul{
    color:#fff;
    transition: all .5s ease;
}
.nav-item :hover{
    color: #FF305B !important;
}

#Home{
    background-image: url('images/slider-01.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
#About{
    color:#555555;
}
#About a{
    color:#9E9E9E;
    text-decoration: none;
}
.AboutButton{
    padding:10px 15px;
    border:#FF305B 1px solid;
    border-radius: 3px;
    transition: 0.3s;
    background-color:#FF305B;
    color: #fff;
}
.AboutButton:hover{
    background-color:#fff;
    color: #FF305B;
    cursor: pointer;
}
.dotted-line {
    margin-top: 30px;
    border-bottom: 2px dotted #555555;
    width: 100%; 
}
.list {
    width: 100%;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.list ul{
    width:50%;
    color:#555555;
}

.list li {
    width: 100%;
    box-sizing: border-box;
    margin: 30px;
}
.Heading{
    font-size: 40px;
    text-align: center;
}
.content{
    transition: 0.3s;
    cursor: pointer;
    min-height: 100%;
}
.content:hover{
    background-color: #fff;
}
#Services{
    color:#555555;
}
#Portfolio li{
    transition: all .5s ease;
    color:#555555;
}

#Portfolio li:hover{
    color:#FF305B;
    cursor: pointer;
}

#PortContainer img{
    max-width: 100%; 
    max-height: 100%; 
}

#IconSection{
    color:#555555;
}
#Contact button{
    padding: 13px 20px;
    font-size: 16px;
    border: #FF305B 1px solid;
    background-color: #FF305B;
    border-radius:3px;
    color: #fff;
}
#Contact button:hover{
    background-color:#fff;
    color: #FF305B;
    cursor: pointer;
}
#Footer p{
    color:#555555;
}
